main {
	min-height: 100vh;
	padding: 0 30px;
}

main > .intro {
	font-family: 'Reem Kufi', sans-serif;
	font-size: 3.75em;
	font-weight: 600;
}

main > .tagline {
	font-size: 1.5rem;
	margin: 1.5rem 0;
	font-weight: 100;
}

.icons-social img {
  height: 50px;
  width: 50px;
}

@media only screen and (max-width: 400px)  {
  .icons-social img {
    height: 40px;
    width: 40px;
  }
}
