---
import Layout from "../layouts/main.astro";
import PageHeading from "../components/page-heading.astro";
---

<Layout title="Contact">
  <section class="relative z-20 max-w-2xl mx-auto my-12 px-7 lg:px-0">
    <PageHeading
      title="Contact me"
      description="Let's get in touch!"
    />

    <div class="mt-4 flex flex-col gap-4">
      <div>
        <p class="text-neutral-600 dark:text-neutral-400 mb-2">email</p>
        <input type="text" id="email"
        class="w-full h-8 px-3 text-sm border border-dashed rounded-lg focus:ring-0
        border-neutral-400 dark:border-neutral-600 dark:bg-neutral-800 dark:text-white focus:outline-black"
        >
      </div>
      <div>
        <p class="text-neutral-600 dark:text-neutral-400 mb-2">message</p>
        <textarea name="content" id="message"
        class="w-full px-3 py-1 text-sm border border-dashed rounded-lg focus:ring-0
        border-neutral-400 dark:border-neutral-600 dark:bg-neutral-800 dark:text-white focus:outline-black"
        ></textarea>
      </div>
    </div>
    <button
    id="submit" class="inline-flex w-auto px-4 py-2 mt-5 text-xs font-semibold duration-300 ease-out border rounded-full bg-neutral-900 dark:bg-white dark:text-neutral-900 text-neutral-100 hover:border-neutral-700 border-neutral-900 dark:hover:border-neutral-300 hover:bg-white dark:hover:bg-black dark:hover:text-white hover:text-neutral-900">
      Submit
    </button>

    </section>
    <script>
      const button = document.querySelector('#submit')
      button.addEventListener('click', ()=>{
        const email = document.getElementById('email').value;
        const message = document.getElementById('message').value;
        console.log(email, message);

      })
    </script>
</Layout>


