---
import Layout from "../layouts/main.astro";
import PageHeading from "../components/page-heading.astro";
import ContactForm from "../components/contact-form.astro";
---

<Layout title="Contact">
  <section class="relative z-20 max-w-2xl mx-auto my-12 px-7 lg:px-0">
    <PageHeading
      title="Contact me"
      description="Let's get in touch!"
    />
    <ContactForm/>


    </section>
</Layout>


