---
import Layout from "../layouts/main.astro";
import ServicesList from "../components/services.astro"
import Button from "../components/button.astro";
---

<Layout title="My Services">
  <section class="relative z-20 max-w-2xl mx-auto my-12 px-7 lg:px-0">

    <ServicesList/>
    <Button text="Contact me" link="/contact" />

  </section>
</Layout>
