---
import PageHeading from "../components/page-heading.astro";
import Layout from "../layouts/main.astro";
---

<Layout title="My Services">
  <section class="relative z-20 max-w-2xl mx-auto my-12 px-7 lg:px-0">
    <PageHeading
      title="My Services"
      description="Here are the web development services I can provide."
    />

    <div
      class="z-50 grid items-stretch w-full grid-cols-1 my-8 gap-7 sm:gap-5 sm:grid-cols-2"
    >
    My services
      <!-- {
        projects.map((project) => {
          return (
            <Project
              name={project.name}
              description={project.description}
              image={project.image}
              url={project.url}
            />
          )
        })
      } -->
    </div>
  </section>
</Layout>
