<div class="flex flex-col items-stretch justify-around md:flex-row gap-4">
  <div class="relative w-full">

    <div class="space-y-4">
      <!-- Front-End Development Services -->
      <div>
        <h3 class="mb-2 font-semibold text-neutral-800 dark:text-neutral-200 text-lg">Front-End development services</h3>
        <ul class="py-2 space-y-[3px] text-sm list-disc list-inside text-neutral-500 dark:text-neutral-400">
          <li>Single Page Application development with Vue.js</li>
          <li>UI/UX Implementation & prototyping</li>
          <li>Front-End optimization for performance and SEO</li>
          <li>Component libraries and web animations</li>
        </ul>
      </div>

      <!-- Full-Stack Solutions -->
      <div>
        <h3 class="mb-2 font-semibold text-neutral-800 dark:text-neutral-200 text-lg">Full-Stack solutions</h3>
        <ul class="py-2 space-y-[3px] text-sm list-disc list-inside text-neutral-500 dark:text-neutral-400">
          <li>Full-Stack web app development (Rails & Vue.js)</li>
          <li>API development & integration</li>
          <li>Database management & optimization</li>
          <li>Custom CMS solutions for businesses</li>
        </ul>
      </div>

      <!-- Back-End Services -->
      <div>
        <h3 class="mb-2 font-semibold text-neutral-800 dark:text-neutral-200 text-lg">Back-End development services</h3>
        <ul class="py-2 space-y-[3px] text-sm list-disc list-inside text-neutral-500 dark:text-neutral-400">
          <li>RESTful API development</li>
          <li>Back-End refactoring & performance optimization</li>
        </ul>
      </div>

      <!-- Consulting & Audits -->
      <div>
        <h3 class="mb-2 font-semibold text-neutral-800 dark:text-neutral-200 text-lg">Consulting & audits</h3>
        <ul class="py-2 space-y-[3px] text-sm list-disc list-inside text-neutral-500 dark:text-neutral-400">
          <li>Code review & refactoring</li>
          <li>Tech stack recommendations</li>
          <li>Performance & security audits</li>
        </ul>
      </div>

      <!-- Small Business Solutions -->
      <div>
        <h3 class="mb-2 font-semibold text-neutral-800 dark:text-neutral-200 text-lg">Custom solutions for small businesses</h3>
        <ul class="py-2 space-y-[3px] text-sm list-disc list-inside text-neutral-500 dark:text-neutral-400">
          <li>Business websites & landing pages</li>
          <li>E-commerce development</li>
        </ul>
      </div>
    </div>
  </div>
</div>
