<div class="flex flex-col items-stretch justify-around md:flex-row gap-4">
  <div class="relative w-full">
    <h2 class="mb-5 text-3xl font-bold leading-tight md:text-4xl lg:text-5xl dark:text-white">
      My Services
    </h2>
    <p class="mb-6 text-base text-neutral-600 dark:text-neutral-400">
      Here's what I can help you with, whether you're a small business or a growing team:
    </p>

    <div class="space-y-4">
      <!-- Front-End Development Services -->
      <div>
        <h3 class="mb-2 font-semibold text-neutral-800 dark:text-neutral-200 text-lg">Front-End Development Services</h3>
        <ul class="py-2 space-y-[3px] text-sm list-disc list-inside text-neutral-500 dark:text-neutral-400">
          <li>Single Page Application (SPA) Development with Vue.js</li>
          <li>UI/UX Implementation & Prototyping</li>
          <li>Front-End Optimization for performance and SEO</li>
          <li>Component Libraries and Web Animations</li>
        </ul>
      </div>

      <!-- Full-Stack Solutions -->
      <div>
        <h3 class="mb-2 font-semibold text-neutral-800 dark:text-neutral-200 text-lg">Full-Stack Solutions</h3>
        <ul class="py-2 space-y-[3px] text-sm list-disc list-inside text-neutral-500 dark:text-neutral-400">
          <li>Full-Stack Web App Development (Rails & Vue.js)</li>
          <li>API Development & Integration</li>
          <li>Database Management & Optimization</li>
          <li>Custom CMS Solutions for Businesses</li>
        </ul>
      </div>

      <!-- Back-End Services -->
      <div>
        <h3 class="mb-2 font-semibold text-neutral-800 dark:text-neutral-200 text-lg">Back-End Development Services</h3>
        <ul class="py-2 space-y-[3px] text-sm list-disc list-inside text-neutral-500 dark:text-neutral-400">
          <li>RESTful API Development</li>
          <li>Back-End Refactoring & Performance Optimization</li>
        </ul>
      </div>

      <!-- Consulting & Audits -->
      <div>
        <h3 class="mb-2 font-semibold text-neutral-800 dark:text-neutral-200 text-lg">Consulting & Audits</h3>
        <ul class="py-2 space-y-[3px] text-sm list-disc list-inside text-neutral-500 dark:text-neutral-400">
          <li>Code Review & Refactoring</li>
          <li>Tech Stack Recommendations</li>
          <li>Performance & Security Audits</li>
        </ul>
      </div>

      <!-- Small Business Solutions -->
      <div>
        <h3 class="mb-2 font-semibold text-neutral-800 dark:text-neutral-200 text-lg">Custom Solutions for Small Businesses</h3>
        <ul class="py-2 space-y-[3px] text-sm list-disc list-inside text-neutral-500 dark:text-neutral-400">
          <li>Business Websites & Landing Pages</li>
          <li>E-commerce Development</li>
        </ul>
      </div>
    </div>
  </div>
</div>
